.container

	section.main.flex
		.flex.box.hero
			.heading.flex
				h1.logo
					img(src="/assets/img/devswag-logo.svg", alt="DevSwag")
					span.alt-logo DevSwag
				h2 swag opportunities for developers 😎
				p As a developer, nothing piques my interest more than developer swag!
				p I created devSwag to scratch my own itch by starting a curation of such opportunities in Feb '18. These are crowdsourced and verified by the community. All of them ship worldwide! 🚀

		.buttons
			.flex.controls
				.item.flex
					span.title Level
					.select-wrapper
						label.sr-only(for="filter") Filter opportunity difficulty
						select#filter
							for filter in ['All difficulties', 'Easy', 'Medium', 'Hard']
								option(value=filter.replace(/ /g, '').toLowerCase()) #{filter}

				.item.flex
					span.title Order
					.select-wrapper
						label.sr-only(for="sorting") Sort opportunities
						select#sorting
							option(value="DATEADDED_DESCENDING" class="dateAdded") Newest First
							option(value="DATEADDED_ASCENDING" class="dateAdded") Oldest First
							option(value="ALPHABETICAL_ASCENDING" class="alphabetical") A -> Z
							option(value="ALPHABETICAL_DESCENDING" class="alphabetical") Z -> A
							option(value="DIFFICULTY_ASCENDING" class="difficulty") Difficulty: Easy to Hard
							option(value="DIFFICULTY_DESCENDING" class="difficulty") Difficulty: Hard to Easy

				.item.flex
					span.title Filter
					select#tags.hidden

				.item.flex
					input(type="checkbox" id="expired")
					label(for="expired") Show expired opportunities

		.content.flex#content
			- let difficulty;
			each swag in swagList
				- difficulty = swag.difficulty + ' difficulty';
				- difficultyTitle = 'Difficulty: ' + swag.difficulty;
				- expired = swag.tags.includes('expired');
				div(
					class="item " + (expired ? '' : 'visible ') + swag.difficulty + swag.tags.map(t => ` tag-${t}`).join('')
					data-name=swag.name.toLowerCase()
					data-difficulty=['easy','medium', 'hard'].indexOf(swag.difficulty)
					data-dateadded=(new Date(swag.dateAdded)).getTime()
				)
					div.flex.img-container
						a(href=swag.reference target="_blank")
							picture
								noscript.loading-lazy
									source(type="image/webp" srcset=swag.images.webp)
									source(type="image/jpeg" srcset=swag.images.jpeg)
									img(src=swag.images.jpeg loading="lazy" alt=swag.name + " swag you can get")
					div.information
						div.title.flex
							h1
								a(href=swag.reference target="_blank")=swag.name
							div
								div(class=difficulty title=difficultyTitle)
									span.sr-only=difficultyTitle
						p.swag.flex
							each swagTag in swag.tags
								span(
									class="tag " + swagTag
								)!=swagTag
						p.description!=swag.description
						.flex
							a.btn(href=swag.reference target="_blank") Check it out

			.no-results(style="display: none")
				h3 Oh no! There are no opportunities that match those filters. 😯
				.flex
					a.github(href="https://github.com/swapagarwal/swag-for-dev/issues/new?template=----new-swag-opportunity.md" target="_blank")
						svg.github-logo(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32.6 31.8")
							use(href='#github_logo')
						span.text Add one on Github

	section.newsletter
		.flex.box.form
			noscript.loading-lazy
				iframe(src="https://upscri.be/67d2fa?as_embed" loading="lazy" style="width:100%;max-width:800px;margin:0 auto;" height="400" frameborder="0" title="Subscribe for updates")

	footer.flex
		.item.flex
			p Made with ❤︎ by #[a(href="https://swapnil.net/") Swapnil Agarwal]
		.item.flex
			p Designed by #[a(href="https://github.com/zac-garby") Zac Garby], #[a(href="https://mihir.ch/") Mihir Chaturvedi], and #[a(href="http://github.com/anhek") Antonin Nhek]
		.item.flex
			p Maintained by #[a(href="https://github.com/aslafy-z") Zadkiel] and #[a(href="https://vikaspotluri.me") Vikas Potluri]
		.item.flex
			a(href="https://github.com/swapagarwal/swag-for-dev/blob/master/data.json") View Data
			br
		.item.flex
			p This site is powered by #[a(href="https://www.netlify.com") Netlify]
		.item.flex
			p Want your company's swag to be listed / unlisted? Want to advertise? #[a(href="https://t.me/swapagarwal") Contact us].
		.item.flex
			a.github(href="https://github.com/swapagarwal/swag-for-dev" target="_blank")
				svg.github-logo(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32.6 31.8")
					use(href='#github_logo')
				span.text View on Github
	#codefund_ad

	script.
		window.swagTags = !{JSON.stringify(tags)};
