include ./fork.pug

.container

	section.main.flex

		.heading.flex
			h1 devSwag
			p 😎 swag opportunities for developers
			p As a developer, nothing piques my interest more than developer swag! I created devSwag to scratch my own itch by starting a curation of such opportunities in Feb '18. These are crowdsourced and verified by the community. All of them ship worldwide!

		.buttons
			.flex.controls
				.item.flex
					span Show
					.select-wrapper
						label.sr-only(for="filter") Filter opportunity difficulty
						select#filter
							for filter in ['All difficulties', 'Easy', 'Medium', 'Hard']
								option(value=filter.replace(/ /g, '').toLowerCase()) #{filter}

				.item.flex
					span In
					.select-wrapper
						label.sr-only(for="sorting") Sort opportunities
						select#sorting
							option(value="ALPHABETICAL_ASCENDING" class="alphabetical") Alphabetical
							option(value="ALPHABETICAL_DESCENDING" class="alphabetical") Alphabetical, reversed
							option(value="DIFFICULTY_ASCENDING" class="difficulty") Difficulty
							option(value="DIFFICULTY_DESCENDING" class="difficulty") Difficulty, reversed
							option(value="DATEADDED_DESCENDING" class="dateAdded") Newest first
							option(value="DATEADDED_ASCENDING" class="dateAdded") Oldest first
					span order

				.item.flex
					select#tags.hidden

				.item.flex
					input(type="checkbox" id="expired")
					label(for="expired") Show expired opportunities

		.content.flex#content
			- let difficulty;
			each swag in swagList
				- difficulty = swag.difficulty + ' difficulty';
				- difficultyTitle = 'Difficulty: ' + swag.difficulty;
				- expired = swag.tags.includes('expired');
				div(
					class="item " + (expired ? '' : 'visible ') + swag.difficulty + swag.tags.map(t => ` tag-${t}`).join('')
					data-name=swag.name.toLowerCase()
					data-difficulty=['easy','medium', 'hard'].indexOf(swag.difficulty)
					data-dateadded=(new Date(swag.dateAdded)).getTime()
				)
					div.title.flex
						h1=swag.name
						div(class=difficulty title=difficultyTitle)
							span.sr-only=difficultyTitle
					p.swag
						each swagTag in swag.tags
							span!=swagTag
					div.flex.img-container
						picture
							source(type="image/webp" srcset=swag.images.webp)
							source(type="image/jpeg" srcset=swag.images.jpeg)
							img(src=swag.images.jpeg alt=swag.name + " swag you can get")
					p.description!=swag.description
					a(href=swag.reference target="_blank") Check it out

	footer.flex
		.item.flex
			iframe(src='https://upscri.be/67d2fa?as_embed', style='width:100%;max-width:800px;margin:0 auto;', height='400', frameborder='0', title='Subscribe for updates')
		.item.flex
			p Made with ❤︎ by #[a(href="https://swapnil.net/") Swapnil Agarwal]
		.item.flex
			p Designed by #[a(href="https://github.com/zac-garby") Zac Garby] and #[a(href="https://mihir.ch/") Mihir Chaturvedi]
		.item.flex
			p Maintained by #[a(href="https://github.com/aslafy-z") Zadkiel] and #[a(href="https://github.com/vikaspotluri123") Vikas Potluri]
		.item.flex
			p Want your company's swag to be listed / unlisted? Want to advertise? #[a(href="https://t.me/swapagarwal") Contact us].
	#codefund_ad

	script.
		window.swagTags = !{JSON.stringify(tags)};
