include ./fork.pug

.container

    section.main.flex

        .heading.flex
            h1 devSwag
            p 😎 swag opportunities for developers
            p As a developer, nothing piques my interest more than developer swag! I created devSwag to scratch my own itch by starting a curation of such opportunities in Feb '18. These are crowdsourced and verified by the community. All of them ship worldwide!

        .buttons.flex

            .top.flex
                .item.flex
                    span Show
                    .select-wrapper
                        label.sr-only(for="filter") Filter opportunity difficulty
                        select#filter
                            for filter in ['All difficulties', 'Easy', 'Medium', 'Hard']
                                option(value=filter) #{filter}

                .item.flex
                    span In
                    .select-wrapper
                        label.sr-only(for="sorting") Sort opportunities
                        select#sorting
                            for filter in ['Alphabetical', 'Alphabetical, reversed', 'Difficulty', 'Difficulty, reversed']
                                option(value=filter) #{filter}
                    span order

            .bottom
                .item.flex
                    select#tags

        .content.flex#content
            - let difficulty;
            each swag in swagList
                - difficulty = swag.difficulty + ' difficulty';
                - difficultyTitle = 'Difficulty: ' + swag.difficulty;
                div.item
                    div.title.flex
                        h1=swag.name
                        div(class=difficulty title=difficultyTitle)
                            span.sr-only=difficultyTitle
                    p.swag
                        each swagTag in swag.tags
                            span!=swagTag
                    div.flex.img-container
                        img(src=swag.image alt=swag.name + " swag you can get")
                    p.description!=swag.description
                    a(href=swag.reference) Check it out

    footer.flex
        .item.flex
            iframe(src='https://upscri.be/67d2fa?as_embed', style='width:100%;max-width:800px;margin:0 auto;', height='400', frameborder='0', title='Subscribe for updates')
        .item.flex
            p Made with ❤︎ by #[a(href="https://github.com/swapagarwal") Swapnil Agarwal]
        .item.flex
            p Designed by #[a(href="https://github.com/zac-garby") Zac Garby] and #[a(href="https://mihir.ch/") Mihir Chaturvedi]
        .item.flex
            p Want to be listed? #[a(href="https://github.com/swapagarwal/swag-for-dev/issues/new") Contact us].
    #codefund_ad

    script(defer).
        window.swag = !{JSON.stringify(swagList)};
        window.swagTags = !{JSON.stringify(tags)};
